
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


:root {
  --font-sans: 'Poppins', sans-serif;
  --bg-color: #264653;
  --fg-color: #3a6b7e;
  --btn-bg: #E9C46A; 

  --clr-light: #dadada;
  --clr-dark: #303030;
  --clr-dark-teal: #3a6b7e;
  --clr-gold: #E9C46A;

  --fw-500: 700;
  --fw-200: 300;
  --fw-100: 200;

  --fs-900: 3.65rem;
  --fs-700: 2.8rem;
  --fs-400: 2rem;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  padding-inline: 1rem;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(--bg-color);
  font-family: var(--font-sans);
  font-weight: var(--fw-200);
  color: var(--clr-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  border-radius: 15px;
  background-color: #3a6b7e;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  max-width: 1152px;
  margin-inline: auto;  
  padding: 2.5rem 3.5rem;
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
  justify-items: start;
}

.title {
  grid-column: 1/-1;
}

h1 {
  font-size: var(--fs-900);
  color: var(--clr-gold);
  margin: 0;
}

img {
  margin-bottom: -7px;
  margin-left: 15px;
  width: 64px;
  height: 64px;
  display: inline-block;
}

ul {
  margin: 0;
  line-height: 90px;
  height: 90px;
  overflow: hidden;
  padding: 0;
}

li {
  list-style: none;
  font-size: var(--fs-900);
  color: var(--clr-light);
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}

li::after {
  left: 0;  
  content: "";
  position: absolute;
  width: 100%;
  height: 65%;
  top: 15%;
  background-color: #325b6b;
  border-left: 2px solid #E9C46A;
  animation: typing 3s steps(12) infinite;

}

@keyframes slide {
  100% {
    top: -360px;
  }
}

@keyframes typing {
  40%,
  60% {
    left: calc(100% + 30px);
  }
  100% {
    left: 0;
  }
}

button {
  margin-inline: auto; 
}


.getStartedButton {
  left: 36%;
  align-items: center;
  appearance: none;
  background-color: #E9C46A;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#b29753 0 -3px 0 inset;
  box-sizing: border-box;
  color: #264653;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Poppins', sans-serif;
  height: 78px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 30px;
}

.getStartedButton:focus {
  box-shadow: #b29753 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #b29753 0 -3px 0 inset;
}

.getStartedButton:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #b29753 0 -3px 0 inset;
  transform: translateY(-2px);
}

.getStartedButton:active {
  box-shadow: #b29753 0 3px 7px inset;
  transform: translateY(2px);
}

.informationButton {
  left: 52%;
  align-items: center;
  appearance: none;
  background-color: #E9C46A;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#b29753 0 -3px 0 inset;
  box-sizing: border-box;
  color: #264653;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Poppins', sans-serif;
  height: 78px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: var(--fs-400);;
}

.informationButton:focus {
  box-shadow: #b29753 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #b29753 0 -3px 0 inset;
}

.informationButton:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #b29753 0 -3px 0 inset;
  transform: translateY(-2px);
}

.informationButton:active {
  box-shadow: #b29753 0 3px 7px inset;
  transform: translateY(2px);
}


@media (max-width: 768px) {
  .grid-layout {
    grid-template-columns: 1fr; 
  }

  li, li::after {
    font-size: 2.5rem;
    /* text-align: center; */
    margin-inline: center;
  }

  h1 {
    font-size: 2.5rem;
    /* text-align: center; */
  }

  .informationButton, .getStartedButton {
    font-size: 1.3rem;
  }

}

footer {
  margin-top: 16px;
}

@media (max-width: 600px) {
  .grid-layout {
    grid-template-columns: 1fr; 
  }

  .container {
    padding: 2.3rem 2rem;
  }

  li, li::after {
    font-size: 2.2rem;
    /* text-align: center; */
    margin-inline: center;
  }

  h1 {
    font-size: 2.2rem;
    /* text-align: center; */
  }

  .informationButton, .getStartedButton {
    font-size: 1.1rem;
  }

}

footer {
  margin-top: 16px;
}

.info-popup .info-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.3);
  z-index: 1;
  display: none;
}

h2 {
  font-size: 2rem;
  margin: 1.2rem;
  color: var(--clr-gold)
}

.info-popup .info-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-color: #3a6b7e;
  color: var(--clr-light);
  z-index: 3;
  text-align: center;
  padding: 1.25rem 2.0rem; 
  border-radius: 12px;
}

.info-popup .info-close-btn {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  font-size: 2.75rem;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  color: var(--clr-gold);
}

.info-popup.active .info-overlay {
  display: block;
}

.info-popup.active .info-content {
  transition:all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}